.heading{
    background-color: rgb(35, 29, 53);
    color: rgb(201, 174, 125);
    width:fit-content
}
*{
    background-color: rgb(160, 107, 124);
    font-family: Helvetica, sans-serif;
}
p{
    background-color: antiquewhite;
    font-size: 16px;
}
.head-2{
    color: rgb(45, 34, 75);
    background-color: rgb(108, 69, 179);
}

ul>li{
    background-color: rgb(17, 2, 43);
    color: aliceblue;
    padding: 10px;
}
.container{
    background-color: rgb(15, 31, 31);
}
.head-3{
    color: rgb(82, 16, 27);
    background-color: rgb(141, 141, 43);
}
.list{
    background-color: rgb(17, 2, 43);
    color: aliceblue;
    padding: 10px;
}
*{
    
    
    padding: 8px;
}
